<!DOCTYPE html>
<html>

<body>
    <ul>
        <h1>Cart / Order - HBS</h1>
        {{#each products}}
        <li>{{@key}}: {{this.ten}} {{this.Gia}} {{this.SoLuong}}</li>
        {{/each}}
    </ul>
</body>

</html>
